.content {
    padding: 10%;
}

.header {
    padding: 3% 0 1%;
}

.name {
    text-align: center;
}

.head_div {
    display: flex;
    flex-direction: row;
}

.description {
    margin: 0 10%;
}

#navbar_container {
    padding: 1% 10%;
}

/* 
.contact_info {
    display: flex;
    flex-direction: row;
}

.project_table_head {
    background-color: light;
    text-align: center;
    margin: auto;
} */